@import '~/styles.mixins.scss'


.form-group{
  width:70%;
  text-align:center;
  margin:auto;
  margin-top:2rem;
  margin-bottom:2rem;

 @include respond(tab-port){
      top: 4rem;
      right: 4rem;
    }


    @include respond(phone){
      top: 3rem;
      right: 3rem;
    }


}