@import '../../styles/mixins.scss';


.form-group{
  width:70%;
  text-align:center;
  margin:auto;
  margin-top:2rem;
  margin-bottom:2rem;

 @include respond(tab-port){
      width:100%
    }
}


.form--radio{
  margin:3rem;
  display:inline-block;

  @include respond(phone){
    display:block;
  }
}
