@import "../../styles/mixins.scss";

.image-list {
  text-align: center;
  list-style-type: none;
  @include respond(phone) {
    padding: 0;
  }
  &--item {
    &--photo {
      width: 250px;
      height: 250px;

      @include respond(phone) {
        width: 100%;
      }
    }
  }
}
