@import './styles/variables';
@import './styles/mixins';

@import url('https://unpkg.com/bootstrap@3.3.7/dist/css/bootstrap.min.css');

//Initialize CSS to be consiste
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;

  @include respond(big-desktop) {
    font-size: 75%;
  }

  @include respond(tab-land) {
    font-size: 56.25%;
  }

  @include respond(tab-port) {
    font-size: 50%;
  }
}

body {
  box-sizing: border-box;
}
